/*
Colors were gathered from Adobe Kuler
I chose colors that were appropriate for the the color scheme that is the main character
*/

/*
http://www.colorhexa.com/
Allows you to acquire all color styles for your colors
Example: RGB, RGBA, HSL, Hex,
*/


body{
	background-color: #3D3D3D
}

h1{

}

h2{

}

ul{

}